.countryCard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 400px;
    height: 400px;
    /* border: 2px solid blue; */
    background-color: rgb(230,230,230) ;
    border-radius: 20px;
    box-shadow: 3px 3px 7px darkslategray;
    margin: 15px;
    color: dimgray;
}

.countryCard > h2 {
    color: black;
    margin-bottom: 10px;
}

.countryCard > h3 {
    margin: 5px 0;
}

.countryMap {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    /* border: 1px solid black; */

}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

.countryName {
    font-size: 30px;
}

.countryBeen {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 0px 35px;

}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashSubHead {
    height: 50px;
    background-color: tan;
    display: flex;
    width: 100%;
}