
.HomeBkg {
    display: flex;
    flex-grow: 1;
    background-color: tan;
}

.HomeBkgImage {
    background-image: url('./images/map.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* width: 300px;
    height: 200px; */
}
    
    .countryCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: darkslategray;
        
        /* width: 300px;
        height: 300px; */
         /* border: 2px solid blue;  */
        /* background-color: rgba(230,230,230, .5) ; */
        /* border-radius: 20px; */
        /* box-shadow: 3px 3px 7px darkslategray; */
        /* margin: 15px; */
    }

    .countryCard > h4 {
        margin-bottom: -15px;
    }
    .countryCard > h2 {
        margin-top: 40px ;
        color: black;
    }


   
