
.HomeBkg {
    display: flex;
    flex-grow: 1;
    background-color: tan;
}

.HomeBkgImage {
    background-image: url('./images/map.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
}
    
    .countryCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: darkslategray;
    
    }

    .countryCard > h4 {
        margin-bottom: -15px;
    }
    .countryCard > h2 {
        margin-top: 40px ;
        color: black;
    }


   
