.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    /* background-color: rgb(87, 42, 42); */
    background-color:rgb(24, 19, 15);
    box-shadow: 3px 3px 5px 3px lightgray;

}

.Header > nav > ul {
    list-style: none;
    display: flex;
}

.Header > nav > ul li {
    margin-right: 20px;
    font-size: 25px;

}

.Header > nav > ul li a{
   text-decoration: none;
   color: white;
}

.Header > a {
    text-decoration: none;
    color: white;
}


