
.detailBody {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(152,147,143);
    flex-grow: 1;

}

.detailCard {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 500px;
    height: 600px;
    padding: 0 10px 5px;
    background-color: rgb(230,230,230) ;
    border-radius: 15px;
    box-shadow: 3px 3px 7px darkslategray;
    color: dimgray;
    text-align: center;
}

a:link {
    text-decoration: none;
}


.detailCard > h2 {
    color: black;
}

.detailCard > h4 {
    margin: 5px auto;
}

.detailFlag {
    width: 80px;

}

.detailImage {
    max-width: 60%;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 25px;

}