.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* background-color: rgb(87, 42, 42); */
    background-color:rgb(24, 19, 15);

    color: white;
    
}